body {
  background: #232323;
}
.jumbotron {
  margin-bottom: 0;
  background: #3aaa6d;
}
header h4 {
  color: #fff;
  line-height: 2em;
  font-weight: bold;
}

h1 {
  font-family: monospace;
  font-weight: bold;
}

nav {
  background: rgb(20, 220, 153);
}
nav a {
  color: #222;
  font: bold 14px monospace;
  border: 1px solid #222;
  margin-right: 5px;
}
nav a:hover {
  background: #222;
  color: yellow;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background: #333;
  margin: 1.66%;
  border-radius: 1em;
  float: left;
}

#container {
  margin: 30px auto;
  max-width: 600px;
}

#message {
  font-weight: bold;
  text-transform: uppercase;
  background: crimson;
  padding: 0px 5px;
  color: white;
}
